.accountCard {
	--login-card-max-width: 30rem;
	--login-card-vertical-margin: 3rem;

	max-width: var(--login-card-max-width);
	margin: var(--login-card-vertical-margin) auto;
	transition-duration: var(--sustk-transition-timing);
	transition-timing-funtion: ease;
	transition-property: margin, border-radius, box-shadow;
}

/* We can't use CSS variables here, but this `max-width` should match `--login-card-max-width`. */
@media screen and (max-width: 30rem) {
	.accountCard {
		--login-card-vertical-margin: 0;
		border-radius: 0;
		/* The following `!important` is necessary to override Infima's use of `!important`. */
		box-shadow: none !important;
	}
}
