.hero {
	padding: 0;
	background: var(--ifm-color-primary-dark) url('@site/static/img/canvas-for-backgrounding.png') center calc(var(--sustk-navbar-background-offset)) repeat;
	background-size: 150% auto;
	background-attachment: fixed;
}

.container {
	max-width: 60rem;
	margin: 0 auto;
	padding: 2rem;
	transition:
		padding 200ms ease,
		margin 200ms ease
	;
}

.blurb {
	transition: margin 200ms ease;
}

.textLink {
	color: inherit;
	text-decoration: underline;
}
.textLink:hover {
	color: inherit;
	text-decoration: none;
}

.buttons {
  display: flex;
	flex-wrap: wrap;
	column-gap: 1rem;
	row-gap: 1rem;
}

.calloutWrapper {
	opacity: 0;
	transition: opacity 200ms ease;
	position: relative;
}

.callout {
	position: absolute;
	top: -10px;
	left: 10px;
	width: 300px;
}

.bmcExampleWrapper {
	display: none;
	margin-top: 4rem;
	margin-bottom: -3.5rem;
	transition: margin 200ms ease;
}

.bmcExample {
	display: block;
	aspect-ratio: 1.75;
	height: auto;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	transition: transform 200ms ease;
	transform: rotate(1deg);
}

.welcome {
	max-width: 55em;
	margin: 4rem auto;
	padding: 0 2rem;
	transition: margin 200ms ease;
}

.welcome .intro {
	font-size: 1.25em;
	margin-bottom: 3rem;
}

.welcome .callToAction {
	text-align: center;
	margin-top: 3rem;
}

@media screen and (min-width: 760px) {
	.bmcExampleWrapper {
		display: block;
	}
}

@media screen and (min-width: 997px) {
	.bmcExampleWrapper {
		margin-bottom: -6rem;
	}

	.welcome {
		margin: 6rem auto;
	}
	.welcome .intro {
		margin-bottom: 4rem;
	}

}

@media screen and (min-width: 1440px) {
	.container {
		max-width: 120rem;
		margin: 0 auto;
		padding: 4rem 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		column-gap: 6rem;
		max-height: 580px;
	}

	.blurb {
		max-width: 35rem;
		margin-left: 5rem;
		flex-shrink: 0;
	}

	.calloutWrapper {
		opacity: 1;
	}

	.bmcExampleWrapper {
		margin-top: 0;
		margin-bottom: 0;
		padding: 0 0.5rem;
		flex-grow: 1;
	}

	.bmcExample {
		transform: rotate(1deg);
	}
}
