
/* Undo Infima table styles */

.interactive {
	margin: 4rem 0;
}

.interactive table {
	border-collapse: collapse;
}

.interactive table thead tr,
.interactive table th,
.interactive table tr,
.interactive table td {
	border: 0;
	padding: 1px;
}

.interactive table tr:nth-child(2n) {
	background-color: var(--ifm-table-background);
}

/* Interactive */

.interactive .superHeaderCell {
	text-transform: uppercase;
	text-align: center;
	background-color: var(--sustk-color-gray-lighter);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.interactive thead .superHeaderCell {
	border-left: 3px solid white;
	border-right: 3px solid white;
}

.interactive tbody .superHeaderCell {
	border-top: 3px solid white;
	border-bottom: 3px solid white;
}

.interactive thead .header th {
	vertical-align: bottom;
	line-height: 1.5;
}

.interactive thead tr.hasSuperHeader th,
.interactive thead th.hasSuperHeader {
	padding-top: 0.5rem;
	text-align: center;
}

.interactive .innerTableAlert {
	margin: 1rem 0;
}

.interactive .rotatedCell {
	width: 2rem;
	/* NB: These !important flags are only necessary because of our global MUI overrides. */
	padding: 0 !important;
	vertical-align: middle !important;
}

.interactive .rotatedCellInner {
	/* NB: If `writing-mode: sideways-lr;` gains wide support, we should use it instead. */
	writing-mode: vertical-lr;
	transform: rotate(180deg);
  /*
		In order to "center" the label in the cell, we need to give it a L/R margin equal to the width
		of the cell, minus the line-height of the text, divided in half. This should be automatic with
		"auto", but Firefox doesn't like it for some reason. As an aside, this line-height is based on
		the MUI default for table headers. It's essentially hidden, and we should change it so this can
		be referenced by `var()` instead.
	*/
	margin: 0 calc((2rem - (1em * 1.43)) / 2);
}

/* Override MUI */
.interactive th,
.interactive td {
	color: var(--sustk-color-text);
	font-size: 0.8rem;
}

.interactive th {
	font-weight: var(--ifm-font-weight-bold);
}

.interactive select,
.interactive input,
.interactive textarea {
	border-width: 1px;
	padding: 0.75rem;
	font-size: 0.9rem;
}

.interactive textarea {
	width: 100%;
	resize: none;
	border-color: var(--sustk-color-text-lighter);
	border-radius: 0.25rem;
}

/* Controls */

.interactive button {
	padding: 0.7rem;
	line-height: 1.5;
}

.interactive button:active {
	transform: scale(0.99);
}

.controls {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.controls--download-only {
	flex-direction: row-reverse;
}

.interactive .controlButton {
	padding: 0;
	color: var(--sustk-color-gray-dark);
}

.remove {
	color: var(--sustk-color-text-lighter);
}

.remove:hover {
	color: var(--sustk-color-text-light);
}

.interactive .static__title {
	font-weight: bold;
	margin-top: 0.3rem;
}
