.agileWaterfallTable tbody th,
.agileWaterfallTable tbody td {
	padding-top: 0.25rem !important;
	vertical-align: top;
}

.agileWaterfallTable tbody th {
	padding-right: 1rem;
}

.agileWaterfallTable tbody td {
	padding-right: 0.25rem;
}

.agileWaterfallTable tfoot tr {
	border-top: 3px solid var(--sustk-color-gray);
}

.agileWaterfallTable tfoot th {
	text-align: right;
}

.agileWaterfallTable tfoot td {
	text-align: center;
	font-weight: var(--sustk-font-weight-semibold);
}

.agileWaterfallTable tfoot td.alignment--low {
	background-color: var(--sustk-color-red-lighter);
}

.agileWaterfallTable tfoot td.alignment--medium {
	background-color: var(--sustk-color-orange-lighter);
}

.agileWaterfallTable tfoot td.alignment--high {
	background-color: var(--sustk-color-green-lighter);
}

.agileCategoryLabel {
	font-weight: normal;
}
