/* latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/montserrat/v18/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/montserrat/v18/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/montserrat/v18/JTUQjIg1_i6t8kCHKm459WxRyS7m0dR9pA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/montserrat/v18/JTUQjIg1_i6t8kCHKm459WxRxy7m0dR9pBOi.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(/fonts/montserrat/v18/JTURjIg1_i6t8kCHKm45_bZF3gnD_vx3rCs.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(/fonts/montserrat/v18/JTURjIg1_i6t8kCHKm45_bZF3gfD_vx3rCubqg.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gfD_vx3rCubqg.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin-ext */
@font-face {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/vollkorn/v13/0ybgGDoxxrvAnPhYGzMlQLzuMasz6Df2MHGeEGmaM7Xq3oA9NjE.woff) format('woff');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/vollkorn/v13/0ybgGDoxxrvAnPhYGzMlQLzuMasz6Df2MHGeHmmaM7Xq3oA9.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: 'Vollkorn';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/vollkorn/v13/0ybuGDoxxrvAnPhYGxksckM2WMCpRjDj-DJGWlmQObLI2pg8HjHg9Q.woff) format('woff');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Vollkorn';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/vollkorn/v13/0ybuGDoxxrvAnPhYGxksckM2WMCpRjDj-DJGWlmeObLI2pg8HjE.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	/* Our own custom variables */
	--sustk-color-surface: #FCFCFC;
	--sustk-color-border: #EEEEEE;
	--sustk-color-text: #404040;
	--sustk-color-text-light: #828282;
	--sustk-color-text-lighter: #B7B7B7;
	--sustk-navbar-background-offset: -300px;

	/* Principles of Digital Design color template */
	--sustk-color-brand-lighter: #99C7EB;
	--sustk-color-brand-light: #66AAE2;
	--sustk-color-brand: #0072CE;
	--sustk-color-brand-dark: #00569B;
	--sustk-color-brand-darker: #003967;
	--sustk-color-green-lighter: #99D6AD;
	--sustk-color-green-light: #33AD5C;
	--sustk-color-green: #009933;
	--sustk-color-green-dark: #007326;
	--sustk-color-green-darker: #004D1A;
	--sustk-color-orange-lighter: #FFD8A4;
	--sustk-color-orange-light: #FFB149;
	--sustk-color-orange: #FF9E1B;
	--sustk-color-orange-dark: #DC731C;
	--sustk-color-orange-darker: #804F0E;
	--sustk-color-red-lighter: #F9B1A7;
	--sustk-color-red-light: #F26350;
	--sustk-color-red: #EF3C24;
	--sustk-color-red-dark: #BF2600;
	--sustk-color-red-darker: #801A00;
	--sustk-color-blue-lighter: #CCEAFF;
	--sustk-color-blue-light: #66C1FF;
	--sustk-color-blue: #0097FF;
	--sustk-color-blue-dark: #0071BF;
	--sustk-color-blue-darker: #004C80;
	--sustk-color-teal-lighter: #CCE0E1;
	--sustk-color-teal-light: #66A3A4;
	--sustk-color-teal: #006667;
	--sustk-color-teal-dark: #004D4D;
	--sustk-color-teal-darker: #003334;
	--sustk-color-gray-lightest: #F9F9F9;
	--sustk-color-gray-lighter: #F5F5F5;
	--sustk-color-gray-light: #E5E5E5;
	--sustk-color-gray: #C4C4C4;
	--sustk-color-gray-dark: #656565;
	--sustk-color-gray-darker: #404040;
	--sustk-color-grey-lightest: var(--sustk-color-gray-lightest);
	--sustk-color-grey-lighter: var(--sustk-color-gray-lighter);
	--sustk-color-grey-light: var(--sustk-color-gray-light);
	--sustk-color-grey: var(--sustk-color-gray);
	--sustk-color-grey-dark: var(--sustk-color-gray-dark);
	--sustk-color-grey-darker: var(--sustk-color-gray-darker);

	--sustk-color-sticky: #fff8e7;
	--sustk-color-sticky-fold: #ffe9ba;

	/* Segmentation-specific color variables */
	--sustk-segment-color-users: var(--sustk-color-blue-lighter);
	--sustk-segment-color-buyers: var(--sustk-color-teal-lighter);
	--sustk-segment-color-target-impact: var(--sustk-color-orange-lighter);
	--sustk-segment-color-users-dark: var(--sustk-color-blue-light);
	--sustk-segment-color-buyers-dark: var(--sustk-color-teal-light);
	--sustk-segment-color-target-impact-dark: var(--sustk-color-orange-light);

	--sustk-transition-timing: 200ms;

	--sustk-canvas-block-spacing: 0.75rem;

	--sustk-font-family-sans-serif: 'Montserrat', system-ui, -apple-system,
		BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--sustk-font-family-serif: 'Vollkorn', serif;
	--sustk-font-weight-semibold: 600;

	/* Overriding Infima's variables */
	--ifm-color-primary: #0072CE;
	--ifm-color-primary-dark: #00569B;
	--ifm-color-primary-darker: #003967;
	--ifm-color-primary-darkest: #003967;
	--ifm-color-primary-light: #66AAE2;
	--ifm-color-primary-lighter: #99C7EB;
	--ifm-color-primary-lightest: #99C7EB;
	--ifm-code-font-size: 95%;

	--ifm-font-family-base: var(--sustk-font-family-sans-serif);
	--ifm-heading-font-family: var(--sustk-font-family-serif);
	--ifm-font-weight-semibold: var(--sustk-font-weight-semibold);

	--ifm-navbar-height: 4.75rem; /* Default: 3.75rem */
	--ifm-navbar-item-padding-horizontal: 0.75rem; /* Default: 0.75rem */
	--ifm-navbar-item-padding-vertical: 0.75rem; /* Default: 0.25rem */

	--ifm-button-font-weight: var(--ifm-font-weight-semibold);
	--ifm-button-border-radius: 2rem;
	--ifm-button-border-width: 3px;

	/* Override Toast variables */
	--toastify-color-dark: var(--sustk-color-gray-darker);
	--toastify-color-info: var(--sustk-color-blue);
	--toastify-color-success: var(--sustk-color-green);
	--toastify-color-warning: var(--sustk-color-orange);
	--toastify-color-error: var(--sustk-color-red);
	--toastify-color-progress-light: var(--sustk-color-brand);
}

.has-canvas-background {
	background-image: url('@site/static/img/canvas-for-backgrounding.png');
	background-size: 150% auto;
	background-position: center center;
}

@media screen and (max-width: 996px) {
	:root {
		--sustk-canvas-block-spacing: 0.5rem;
	}
}

/* Navbar */

.navbar--dark,
.navbar--dark .navbar-sidebar {
	color: white;
	background-color: var(--sustk-color-brand-darker);
}

.navbar--fixed-top {
	background-image: url('@site/static/img/canvas-for-backgrounding.png');
	background-size: 150% auto;
	background-position: center var(--sustk-navbar-background-offset);
	background-attachment: fixed;
}

.navbar__title {
	font-weight: var(--ifm-font-weight-normal);
	font-family: var(--ifm-heading-font-family);
	font-size: 1.25rem;
}

.navbar__brand:hover {
	color: inherit;
}

.navbar__items {
	column-gap: 0.75rem;
}

.toolkit__navbar__item {
	font-weight: var(--ifm-font-weight-bold);
	text-transform: uppercase;
	border-radius: 0.25rem;
	background-color: transparent;
}

.navbar-sidebar .toolkit__navbar__item {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.toolkit__navbar__item:hover,
.toolkit__navbar__item[class$="--active"],
.navbar-sidebar .menu__link:hover,
.navbar-sidebar .menu__link--active {
	background-color: rgba(255, 255, 255, 0.1);
	color: inherit;
}

.toolkit__navbar__item--has-icon,
.toolkit__navbar__item--has-icon.menu__link {
	padding-left: calc(1.65em + 2 * var(--ifm-navbar-item-padding-horizontal));
	background-position: var(--ifm-navbar-item-padding-horizontal) center;
	background-repeat: no-repeat;
}

.toolkit__navbar__item--has-icon.toolkit__navbar__item--guide {
	background-image: url('@site/static/icons/nav-guide.svg');
}

.toolkit__navbar__item--has-icon.toolkit__navbar__item--canvas {
	background-image: url('@site/static/icons/nav-canvas.svg');
}

.toolkit__navbar__item--has-icon.toolkit__navbar__item--user {
	background-image: url('@site/static/icons/nav-user-outline.svg');
}

.navbar__items--right > .toolkit__navbar__item:last-child {
	padding-right: var(--ifm-navbar-item-padding-horizontal);
}

.navbar__items--left > .toolkit__navbar__item:first-child {
	padding-left: var(--ifm-navbar-item-padding-horizontal);
}

.toolkit__menu__list-item--interactive-tool > .menu__link {
	justify-content: flex-start;
	column-gap: 0.5em;
}

.toolkit__menu__list-item--interactive-tool > .menu__link::before {
	content: '⌘';
}

/* Footer */

.footer--dark {
	--ifm-footer-link-hover-color: var(--sustk-color-brand-light);
}

.footer--dark .footer__copyright a {
	color: var(--ifm-footer-link-color);
	text-decoration: underline;
}
.footer--dark .footer__copyright a:hover {
	color: var(--ifm-footer-link-hover-color);
	text-decoration: none;
}

.footer__partner-logo {
	margin-top: 1.5rem;
}

.footer__partner-logo-label {
	font-size: 0.8em;
	font-weight: var(--ifm-font-weight-semibold);
	margin-bottom: 0.5rem;
}

.footer__col:nth-child(2) .footer__title,
.footer__col:nth-child(4) .footer__title {
	visibility: hidden;
}

.footer__bottom {
	margin-top: 3rem;
}

@media screen and (max-width: 996px) {
	.footer__col:nth-child(1) {
		margin-bottom: 0;
	}
	.footer__col:nth-child(2) .footer__title,
	.footer__col:nth-child(4) .footer__title {
		display: none;
	}
	.footer__bottom {
		margin-top: 0;
	}
}

/* Buttons */

.button {
	text-transform: uppercase;
	font-weight: var(--ifm-font-weight-semibold);
	text-decoration: none;
}

.button--primary.button--inverted,
.button--primary.button--inverted:hover,
.button--primary.button--inverted:active,
.button--primary.button--inverted.button--active {
	--ifm-button-border-color: white;
}

.button--primary.button--inverted:not(.button--outline),
.button--primary.button--inverted:not(.button--outline):hover {
	--ifm-button-color: var(--ifm-color-primary-dark);
	--ifm-button-background-color: white;
}

.button--primary.button--inverted.button--outline,
.button--primary.button--inverted.button--outline:hover {
	--ifm-button-color: white;
	background-color: transparent;
}

.button--link {
	--ifm-button-padding-horizontal: var(--ifm-button-padding-vertical);
}

.button--with-icon {
	font-family: inherit;
	display: inline-flex;
	align-items: center;
	column-gap: 0.3rem;
}

.button--with-icon svg {
	width: 1.6rem;
}

.svg--inline {
	width: 1.5em;
	vertical-align: middle;
}

/* Button Set
   NB: Calling these "Set" instead of the natural "Group" because Infima has an existing element
	 called "Button Group" that we don't want to use.
*/

.button-set {
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 0.5rem;
	margin: 1rem 0;
}

.button-set--vertical {
	flex-direction: column;
	align-items: center;
}

/* MUI Overrides */

.MuiFormControl-root {
	margin-bottom: 1rem;
}

.MuiFormControl-root:last-child {
	margin-bottom: 0;
}

.MuiFormControl-root,
.MuiTextField-root,
.MuiInputBase-root {
	width: 100%;
	padding: 0;
}

.MuiSelect-select {
	padding: 0.7rem;
	font-size: 0.9rem;
}

.MuiSelect-icon {
	width: 1em;
}

.MuiTableCell-head {
	padding-left: 5px;
}

.MuiTableBody-root th.MuiTableCell-body {
	padding-top: 1rem;
}

.MuiTableBody-root .MuiTableCell-body {
	vertical-align: top;
}

.MuiFormHelperText-root {
	margin: 0.25rem 0;
}

/* Guide Pages */

.docs-doc-page article header {
	padding: 3rem 2rem;
	text-align: center;

	color: white;
	background: var(--ifm-color-primary) url('@site/static/img/canvas-for-backgrounding.png') center var(--sustk-navbar-background-offset);
	background-size: 150% auto;
	margin-bottom: 3rem;
}

.docs-doc-page article header h1 {
	font-weight: var(--ifm-font-weight-normal);
	margin: 0;
	padding: 0;
}
/* Override */
.docs-doc-page article header h1:first-child {
	margin-bottom: 0;
}

.docs-doc-page h1,
.docs-doc-page h2,
.docs-doc-page h3 {
	font-weight: var(--ifm-font-weight-normal);
}

.docs-doc-page h3 {
	font-style: italic;
}

.docs-doc-page h4,
.docs-doc-page h5 {
	font-family: var(--ifm-font-family-base);
}

.docs-doc-page table th,
.docs-doc-page table td {
	vertical-align: top;
}

.docs-doc-page .table-of-contents > li > .table-of-contents__link {
	font-weight: var(--sustk-font-weight-semibold);
}

.footnotes {
	font-size: 0.9em;
}

.footnotes li a:last-child {
	margin-left: 0.25rem;
}

/*
	TEMP: Admonitions

	These are (hopefully) temporary overrides of the "admonitions" that Docusaurus offers.
	Essentially, we are taking over the standard admonitions and using them for our custom
	content blocks that are sorta-admonition-like, but not exactly.
	Long-term, we should write a plugin that creates our own custom admonitions.
*/

.admonition {
	background: transparent;
	border: none;
	box-shadow: none;
	color: inherit;
	font-size: 0.9rem;
}

.admonition .admonition-heading {
	padding: 0.75rem 1.5rem 0.75rem 3rem;
	display: inline-block;
	z-index: 2;
	position: relative;
}

.admonition .admonition-heading a {
	color: inherit;
	text-decoration-color: inherit;
}

.admonition .admonition-heading h5 {
	margin: 0;
	padding: 0;
	text-transform: none;
	font-family: inherit;
}

.admonition .admonition-icon svg {
	fill: white;
	display: none;
}

.admonition .admonition-content {
	position: relative;
	top: -1rem;
	padding: 2rem 1rem 1.5rem 1rem;
	margin-left: 1rem;
	z-index: 1;
}

.admonition.admonition-tip .admonition-heading {
	background: #009A2D url('@site/static/icons/bookmark.png') 5px -12px no-repeat;
	color: white;
}

.admonition.admonition-tip.admonition-tip--pixelated .admonition-heading {
	background: #009A2D url('@site/static/icons/pixels.png') -3px -3px no-repeat;
	background-size: auto 120%;
	color: white;
}

.admonition.admonition-tip .admonition-content {
	background-color: #F5F5F5;
}

.admonition.admonition-info .admonition-heading {
	background: #0072CE url('@site/static/icons/magnifying-glass.png') -2px -2px no-repeat;
	background-size: auto 125%;
	color: white;
}

.admonition.admonition-info .admonition-content {
	background-color: rgba(204, 234, 255, 0.5);
}

.admonition.admonition-caution .admonition-heading {
	background: #DC731C url('@site/static/icons/swirly.png') -7px -7px no-repeat;
	background-size: auto 135%;
	color: white;
}

.admonition.admonition-caution .admonition-content {
	background-color: #FFD8A4;
}

.admonition .relevant-principle {
	display: flex;
	column-gap: 0.5rem;
	align-items: flex-start;
	margin: 0.4rem 0;

	color: var(--sustk-color-text);
	text-decoration-color: var(--sustk-color-text);
}

.admonition .relevant-principle__icon {
	height: 2rem;
}

.admonition .relevant-principle__label {
	margin-top: 0.25rem;
}

@media screen and (min-width: 997px) {
	.admonition {
		clear: right;
	}

	.admonition.admonition-tip {
		float: right;
		width: 350px;
		margin: 0 0 1rem 2rem;
		clear: right;
	}
}

/* Segmentation Color Scheme */

.segment-color--users {
	color: var(--sustk-segment-color-users);
}
.segment-background-color--users {
	background-color: var(--sustk-segment-color-users);
}

.segment-color--buyers {
	color: var(--sustk-segment-color-buyers);
}
.segment-background-color--buyers {
	background-color: var(--sustk-segment-color-buyers);
}

.segment-color--target_impact {
	color: var(--sustk-segment-color-target-impact);
}
.segment-background-color--target_impact {
	background-color: var(--sustk-segment-color-target-impact);
}

/* General Elements */

h1, h2, h3 {
	font-family: var(--ifm-heading-font-family);
}

textarea {
	font-family: inherit;
}

.icon {
	height: 1.1em;
	margin-right: 1rem;
	vertical-align: middle;
}

.inline-credit {
	text-align: right;
	font-style: italic;
	font-size: 0.85em;
}
