.stakeholderMatrix thead th {
	padding: 1rem 0.5rem;
}

.stakeholderMatrix tbody th,
.stakeholderMatrix tbody td {
	padding: 2rem 0.5rem;
}

.stakeholderMatrix thead tr th {
	border-bottom: 10px solid black;
}

.stakeholderMatrix tbody tr th,
.stakeholderMatrix tbody tr td {
	border-bottom: 10px solid var(--sustk-color-gray-lighter);
}

.actionPlanCell {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.actionPlanCell > * {
	flex: 1 1 calc(50% - 0.5rem);
}
