.card {
	--deck-gap: 1rem; /* See RevenueModelCardDeck.module.css */
	--cards-per-row: 1;

	flex: 1 0 calc(100% / var(--cards-per-row) - (var(--cards-per-row) - 1) / var(--cards-per-row) * var(--deck-gap));
	border: 3px solid var(--sustk-color-teal-lighter);
}

@media screen and (min-width: 601px) {
	.card {
		--cards-per-row: 2;
	}
}

@media screen and (min-width: 1440px) {
	.card {
		--cards-per-row: 3;
	}
}

.card .cardHeader {
	font-weight: 600;
	padding-bottom: var(--ifm-card-vertical-spacing);
	background-color: var(--sustk-color-teal-lighter);
}

.cardBody {}

.cardBodySummary {
	font-size: 0.8rem;
}

.cardBodyDetail {
	font-size: 0.9rem;
}

.cardFooter {
	background-color: var(--sustk-color-gray-lightest);
}

.cardButtons {
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0;
}

@media screen and (min-width: 601px) {
	.cardButtons {
		justify-content: space-between;
	}
}

.deck--project .cardHeader {
	background-color: var(--sustk-color-orange-light);
}
.deck--project.card {
	border-color: var(--sustk-color-orange-light);
}

.deck--product .cardHeader {
	background-color: var(--sustk-color-blue-light);
}
.deck--product.card {
	border-color: var(--sustk-color-blue-light);
}

.deck--indirect .cardHeader {
	background-color: var(--sustk-color-teal-lighter);
}
.deck--indirect.card {
	border-color: var(--sustk-color-teal-lighter);
}

.deck--fundraising .cardHeader {
	background-color: var(--sustk-color-orange-lighter);
}
.deck--fundraising.card {
	border-color: var(--sustk-color-orange-lighter);
}

.deck--investment .cardHeader {
	background-color: var(--sustk-color-blue-lighter);
}
.deck--investment.card {
	border-color: var(--sustk-color-blue-lighter);
}
