.stickyWrapper {
	break-inside: avoid;
	filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.15));
	width: 100%;
	margin-bottom: var(--sustk-canvas-block-spacing);

	transition: margin-bottom var(--sustk-transition-timing) ease;
}
.stickyWrapper:last-child {
	margin-bottom: 0;
}

.sticky {
	padding: 0.5rem 1rem 0.5rem 0.75rem;
	font-family: var(--sustk-font-family);
	font-size: 0.75rem;
	line-height: 1.5;
	font-weight: 600;
	word-break: break-word;
	cursor: pointer;
	color: var(--sustk-color-gray-dark);
	background-color: var(--sustk-color-sticky);
}

.fold {
	clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 1em), calc(100% - 1em) 100%, 0% 100%);
	position: relative;
}

.fold::after {
	content: '';
	position: absolute;
	width: 1em;
	height: 1em;
	bottom: 0;
	right: 0;
	background-color: var(--sustk-color-sticky-fold);
}

.segment--none,
.segment--default {
	background-color: var(--sustk-color-sticky);
}

.segment--none:after,
.segment--default:after {
	background-color: var(--sustk-color-sticky-fold);
}

.segment--user {
	background-color: var(--sustk-segment-color-users);
}

.segment--user:after {
	background-color: var(--sustk-segment-color-users-dark);
}

.segment--buyer {
	background-color: var(--sustk-segment-color-buyers);
}

.segment--buyer:after {
	background-color: var(--sustk-segment-color-buyers-dark);
}

.segment--target {
	background-color: var(--sustk-segment-color-target-impact);
}

.segment--target:after {
	background-color: var(--sustk-segment-color-target-impact-dark);
}

.addSticky {
	display: flex;
	align-items: center;
	font-weight: 400;
	column-gap: 0.25rem;
	padding: 0.25rem;
	background-color: transparent;
}

.addSticky:hover {
	background-color: var(--sustk-color-gray-lighter);
}

.addSticky:after {
	background-color: transparent;
}

.addSticky:hover:after {
	background-color: var(--sustk-color-gray);
}

.addIcon {
	height: 1em;
}
