.stickyModal {
	display: flex;
	flex-direction: column;
	position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width : 50%;
	max-width: 600px;
	min-width: 300px;
  background-color: var(--sustk-color-surface);
	border-radius: 0.5rem;
  box-shadow: 24;
  padding : 1rem 2rem;
}

.alignCenter {
	align-self: center;
}

.linkButton {
	color: var(--sustk-color-text);
}

.deleteButton {
	color: var(--sustk-color-red);
}

.deleteButton:hover {
	color: var(--sustk-color-red-dark);
}

.buttons {
	display: flex;
	flex-direction: column;
	margin: 1.5rem 0;
}

.buttons button {
	margin-bottom: 1.5rem;
}
