.radioGroup {
	margin-bottom: 2rem;
}

.radio:hover {
	background-color: transparent;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
	font-size: 0.5rem; /* The font size dictates the size of the sticky corner-fold within. */
}

.checkedIcon::before {
	content: '';
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	background-image: radial-gradient(
		var(--sustk-color-gray-darker),
		var(--sustk-color-gray-darker) 26%,
		transparent 32%
	);
}
